body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

h1 {
	font-size: 32px;
  font-family: Raleway, 'Palatino Linotype', serif;
  color: #A0EADE;
}

h2 {
	font-size: 20px;
}

.hero {
	padding: 250px 0;
	margin: 30px;
  font-family: Marzo, Helvetica, sans-serif;
  color: #ffffff;
  background-image:url("https://content.codecademy.com/projects/make-a-website/lesson-2/bg.jpg");
  background-size: cover;
}


p {
  font-size: 2rem;
}

#footer {
  font-size: 0.75rem;

}
